<div>
    <h2 id="page-heading">
        <span jhiTranslate="appApp.schedule.home.title">Schedules</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-schedule" [routerLink]="['/schedule/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="appApp.schedule.home.createLabel">
            Create a new Schedule
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="schedules?.length === 0">
        <span jhiTranslate="appApp.schedule.home.notFound">No schedules found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="schedules?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateTime"><span jhiTranslate="appApp.schedule.dateTime">Date Time</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="availableSlots"><span jhiTranslate="appApp.schedule.availableSlots">Available Slots</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fitnessClassId"><span jhiTranslate="appApp.schedule.fitnessClassId">Fitness Class Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="locationId"><span jhiTranslate="appApp.schedule.locationId">Location Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let schedule of schedules ;trackBy: trackId">
                    <td><a [routerLink]="['/schedule', schedule.id, 'view']">{{ schedule.id }}</a></td>
                    <td>{{ schedule.dateTime | date:'medium' }}</td>
                    <td>{{ schedule.availableSlots }}</td>
                    <td>{{ schedule.fitnessClassId }}</td>
                    <td>{{ schedule.locationId }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/schedule', schedule.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/schedule', schedule.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(schedule)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="schedules?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
